body * {
  box-sizing: border-box;
}

#container {
  width: 720px;
  height: 720px;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 1;
  display: flex;
}

.col {
  flex: 1;
}

.active {
  background-color: blue;
}