body * {
  box-sizing: border-box;
}

#container {
  width: 720px;
  height: 720px;
  background-color: gray;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.row {
  flex: 1;
  display: flex;
  gap: 1px;
}

.col {
  flex: 1;
  background-color: white;
}

.active {
  background-color: blue;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.indigo {
  background-color: indigo;
}

.violet {
  background-color: violet;
}